/* src/pages/feed/feed.page.scss */

ion-content {
    --background: var(--ion-background-color);
  }
  
  h1, p {
    color: var(--ion-text-color);
  }
  
  .headerToolbar {
    padding: 16px 16px 16px;
    background-color: var(--color-notWhite, white); // especially for dark mode
  
    ion-avatar.userImage {
      width: 60px;
      height: 60px;
      box-shadow: 2px 4px 8px 0px var(--shadow-color);
    }}

    .story-list {
  padding: 16px 0 8px;;
  border-bottom: 1px solid var(--ion-color-light);

  .scroll-horizontal {
    padding-left: 16px;
  }

  .scroll-item {
    text-align: center;
    margin-right: 16px;
  }

  .item-label {
    font-size: 13px;
    margin-top: 8px;
  }
}

.post-item {
  margin-bottom: 16px;

  .post-header {
    padding: 8px;
  }

  .post-media {
    font-size: 0;

    img, video {
      width: 100%;
    }
  }

  .post-stats, .post-comments {
    padding: 0 12px 8px;
  }

  .hash-tag {
    text-decoration: none;
    margin-right: 4px;
  }

  .post-comments {
    line-height: 1.4;

    .username {
      font-weight: 700;
      margin-right: 4px;
    }

    .comment-item {
      &.reply {
        margin: 4px 0 4px 16px;
        padding-left: 8px;
        border-left: 3px solid var(--ion-color-light);
      }
    }

    ion-icon {
      vertical-align: middle;
    }
  
    .logo-container {
      position: absolute; /* Garante o posicionamento no canto superior direito */
      top: 10px;          /* Ajusta a posição vertical */
      right: 10px;        /* Ajusta a posição horizontal */
      z-index: 10;        /* Mantém a logo acima de outros elementos */
    }
    
    .logo-image {
      width: 40px !important;        /* Reduz o tamanho da logo */
      height: 40px !important;       /* Mantém a altura proporcional */
      border-radius: 50%;            /* Garante o formato circular */
      object-fit: cover;             /* Ajusta o conteúdo da imagem no círculo */
      display: block;                /* Garante que seja renderizada como bloco */
    }
    
}
}