/* src/pages/friends/friends.page.scss */

ion-avatar img {
    border-radius: 50%;
  }
  
  ion-item {
    --background: #e5ecf1; /* Fundo claro para os itens */
  }
  
  ion-button {
    --padding-start: 8px;
    --padding-end: 8px;
  }
  
  